<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/style.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
	function getUrl() {
		$.ajax({
			url : "/geturl",
			type : "GET",
			dataType : "json",
			success : function(urlList) {
				showUrl(urlList)
			},
			error : function() {
				alert("문제가 발생 했습니다")
			}
		});
	}
	function showUrl(urlList) {
		$.each(urlList, function(index, item) {
			$("#nav_url").append("<li id="+index+"></li>")
			a = document.createElement("a")
			a.href = item.links[0].href
			a.innerHTML = item.title
			$("#" + index).append(a)
		})
	}
</script>

</head>
<body onload="getUrl()">
	<div class="wrap">
		<h1 class="title">CARE LAB</h1>
		<hr>
		<nav class="nav">
			<ul id="nav_url"></ul>
		</nav>
		<hr>
	</div>
</body>
</html>