<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function psCheck() {
		phNum = $("#ps").val()
		console.log("phNum : "+phNum)
		bookSearch = "http://localhost:10002/book/booksearch/"
		$.ajax({
			url : bookSearch + phNum,
			type : "GET",
			dataType : "json",
			success : function(book) {
				let html = "<h3>검색 결과</h3>"
				html += "<b>이름 : </b>" + book.bookName + "<br>"
				html += "<b>제목 : </b>" + book.movieTitle + "<hr width='300px'>"
				html += "<a href='' onclick='history.back()'>이전</a>"
				$("#wrap").html(html)
			},
			error : function() {
				alert('문제 발생')
			}
		});
	}
</script>

</head>
<body>
	<header th:include="default/header"></header>
	<div id="wrap" align="center">
		<h3>[[${movieId}]] : [[${movieTitle}]] / [[${movieDate}]]</h3>
		<hr width="300px">
		<form th:action="@{/booking}" method="post">
			<input type="hidden" th:value="${movieId}" th:name="movieId">
			<input type="hidden" th:value="${movieTitle}" th:name="movieTitle">
			<input type="hidden" th:value="${movieDate}" th:name="movieDate">
			<table border="1">
				<tr>
					<th>이 름</th>
					<td><input type="text" name="bookName"></td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td><input type="text" name="bookPhone"></td>
				</tr>
				<tr>
					<th>예매 수</th>
					<td><input type="text" name="bookCount"></td>
				</tr>
				<tr>
					<td colspan="2" align="right">
						<input type="text" id="ps" placeholder="전화번호로 검색">
						<input type="button" th:attr="onclick=|psCheck()|" th:value="검색">
						<input type="submit" value="예매확정">
					</td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>